<h1 class="mt-2 text-center">{{flat_data.offerId}} ({{flat_data.offerIdExpected}})</h1>
<h1 class="mt-2 text-center">Oferta #{{flat_data.number}}/{{ lastNumber }}</h1>

{{!-- navigation --}}
<div id="navigation" class="d-flex justify-content-center align-items-center">
    <button type="button" onclick="goToPreviousOffer({{flat_data.number}})" class="btn btn-outline-secondary btn-break">
        <
    </button>
    <button type="button" onclick="goToNextOffer({{flat_data.number}})" class="btn btn-outline-secondary btn-break">>
    </button>
</div>
<div class="d-flex justify-content-center align-items-center">
    <button type="button" onclick="copyTextToClipboard()" class="btn btn-outline-success btn-break">Kopiuj tekst do
        schowka
    </button>
</div>

{{!-- end navigation --}}
<div class="gpt-template">
    <p>Twoim zadaniem jest ocena parametrów oferty nieruchomości z tekstu rozdzielonego przez <>. W tym celu wykonaj
        następujące czynności:</p>
    <ol class="empty">
        <li>
            1. Stwórz obiekt JSON, który zawiera
            następujące klucze: technologyGPT, lawStatusGPT, balconyGPT, elevatorGPT, basementGPT, garageGPT
            gardenGPT, modernizationGPT, alarmGPT, kitchenGPT, outbuildingGPT, qualityGPT, rentGPT, commentsGPT
        </li>
        <li>
            Dokonaj analizy tekstu i pozyskaj informacje na temat: technologii budynku, stanu prawnego, balkonu w mieszkaniu,
            garażu, ogrodu, modernizacji budynku, monitoringu, kuchni, czynszu, oficyna
        </li>
        <p></p>
        <li>
            {{!-- stan prawny --}}
            2. Dla oceny Stanu prawnego (klucz lawStatusGPT obiektu JSON):
            <ul class="empty">
                <li>
                    - Jeżeli rok budowy jest mniejszy niż 1990, a materiał do wielka płyta wpisz wartość 2.
                </li>
                <li>
                    - Pozyskaj informację z pola &lt;Stan prawny&gt;. Jeżeli &lt;Stan prawny&gt; to własność wpisz wartość
                    1, jeżeli zawarte jest słowo spółdzielcze to wpisz wartość 2.
                </li>
                <li>
                    - Jeżeli nie ma informacji w polu &lt;Stan prawny&gt; weź pod uwagę &lt;Opis mieszkania&gt;. Jeżeli
                    zostało wspomniane o wspólnocie to wpisz wartość 1. Jeżeli natomiast wspomniano o spółdzielni wpisz
                    wartość 2.
                </li>
                <li>- Jeżeli nie ma żadnej informacji o stanie prawnym wpisz null</li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę stanu prawnego przypisz do klucza lawStatusGPT obiektu JSON.</p>

            {{!-- balkon --}}
        <li>3. Dla oceny Balkonu (klucz balconyGPT obiektu JSON):
            <ul class="empty">
                <li>- Wpisz wartość 1, jeżeli w &lt;Opis mieszkania&gt; jest informacja o balkonie lub tarasie lub loggi.</li>
                <li>- Wpisz wartość 0, jeżeli w &lt;Opis mieszkania&gt; jest informacja, że w mieszkaniu jest tylko balkon francuski.
                </li>
                <li>- Jeżeli w &lt;Opis mieszkania&gt; nie ma informacji o balkonie, pobierz informację z pola
                    &lt;Balkon&gt;. Jeżeli jest "tak" wpisz 1. Jeżeli jest "nie" lub jest puste wpisz 0.
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę stanu prawnego przypisz do klucza balconyGPT obiektu JSON.</p>
        </li>

        {{!-- winda --}}
        <li>4. Dla oceny Windy (klucz elevatorGPT obiektu JSON):
            <ul class="empty">
                <li>- Wpisz 1, jeżeli w polu &lt;Winda&gt; jest tak.</li>
                <li>- Wpisz 0, jeżeli w polu &lt;Winda&gt; jest nie.</li>
                <li>
                    - Jeżeli jednak liczba kondygnacji jest większa od 6 lub informacja ta jest w &lt;Opis mieszkania&gt;
                    to wpisz 1
                </li>
                <li>
                    - Wpisz 0, jeżeli liczba kondygnacji jest mniejsza od 6 i nie ma takiej informacji w polu &lt;Winda&gt;
                    lub &lt;Opis mieszkania&gt;
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę windy przypisz do klucza elevatorGPT obiektu JSON.</p>
        </li>

        {{!-- basement --}}
        <li>5. Dla oceny Piwnicy (klucz basementGPT obiektu JSON):
            <ul class="empty">
                <li>- Wpisz 1, jeżeli w polu &lt;Piwnica&gt; jest tak.</li>
                <li>- Wpisz 0, jeżeli w polu &lt;Piwnica&gt; jest nie.</li>
                <li>
                    - Jeżeli jednak w &lt;Opis mieszkania&gt; jest, że piwnica lub komórka lokatorska jest za dodatkową
                    opłatą to to wpisz 0.
                </li>
                <li>
                    - Wpisz 1, jeżeli w &lt;Opis mieszkania&gt; jest napisane, że do mieszkania przynależy piwnica lub
                    komórka lokatorska lub jest ona w cenie
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę piwnicy przypisz do klucza basementGPT obiektu JSON.</p>
        </li>

        {{!-- garaż --}}
        <li>6. Dla oceny Garażu (klucz garageGPT obiektu JSON):
            <ul class="empty">
                <li>
                    - Wpisz 0, jeżeli w polu &lt;Cena miejsca postojowego&gt; lub &lt;Cena miejsca garażowego&gt; jest
                    liczba większa od 0.
                </li>
                <li>
                    - Wpisz 0, jeżeli w &lt;Opis mieszkania&gt; napisano, że garaż można dokupić.
                </li>
                <li>
                    - Wpisz 0, jeżeli nie ma informacji o garażu lub miejscu postojowym.
                </li>
                <li>
                    - Wpisz 1, jeżeli w &lt;Opis mieszkania&gt; jest informacja, że do mieszkania przynależy garaż lub
                    miejsce postojowe.
                </li>
                <li>
                    - Wpisz 1, jeżeli w &lt;Opis mieszkania&gt; napisano, że garaż lub miejsce postojowe jest w cenie
                    mieszkania.
                </li>
                <li>
                    - Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.
                </li>
            </ul>
            <p>Ocenę dotyczącą garażu i miejsca postojowego przypisz do klucza garageGPT obiektu JSON.</p>
        </li>

        {{!-- ogórd --}}
        <li>7. Dla oceny dotyczącej Ogrodu (klucz gardenGPT obiektu JSON):
            <ul class="empty">
                <li>- Wpisz 1, jeżeli w polu &lt;Ogród&gt; wpisano tak.</li>
                <li>- Wpisz 0, jeżeli w polu &lt;Ogród&gt; wpisano nie.</li>
                <li>- Wpisz 1, jeżeli w polu &lt;Opis mieszkania&gt; jest informacja, że przy mieszkaniu jest ogród.</li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę dotyczącą ogrodu przypisz do klucza gardenGPT obiektu JSON.</p>
        </li>

        {{!-- monitoring --}}
        <li>8. Dla oceny dotyczącej Monitoringu (klucz alarmGPT obiektu JSON):
            <ul class="empty">
                <li>- Wpisz 1, jeżeli w polu &lt;Monitoring&gt; lub &lt;Ochrona&gt; lub &lt;Osiedle strzeżone&gt; wpisano
                    tak.
                </li>
                <li>- Wpisz 0, jeżeli w polu &lt;Monitoring&gt; lub &lt;Ochrona&gt; lub &lt;Osiedle strzeżone&gt; wpisano
                    nie.
                </li>
                <li>- Wpisz 1, jeżeli w polu &lt;Opis mieszkania&gt; wpisano o dozorze, monitoringu, ochronie, kamerach
                </li>
                <li>- Wpisz 0, jeżeli w polu &lt;Opis mieszkania&gt; nie ma nic o dozorze, monitoringu, ochronie, kamerach
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę dotyczącą Monitoringu przypisz do klucza alarmGPT obiektu JSON.</p>
        </li>

        {{!-- kitchen --}}
        <li>9. Dla oceny dotyczącej Kuchni (klucz kitchenGPT obiektu JSON):
            <ul class="empty">
                <li>- Wpisz 1, jeżeli w polu &lt;Kuchnia&gt; "ciemna", "prześwit" lub "inny".</li>
                <li>- Wpisz 2, jeżeli w polu &lt;Kuchnia&gt; wpisano "widna".</li>
                <li>- Wpisz 3, jeżeli w polu &lt;Kuchnia&gt; wpisano "aneks kuchenny".</li>
                <li>- Przeanalizuj &lt;Opis mieszkania&gt;. Jeżeli w opisie jest informacja o kuchni ciemnej wpisz 1,
                    jeżeli o kuchni widnej wpisz 2, a jeśli o aneksie kuchennym to wpisz 3
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę dotyczącą kuchni przypisz do klucza kitchenGPT obiektu JSON.</p>
        </li>

        {{!-- monitoring --}}
        <li>10. Dla oceny dotyczącej oficyny (klucz outbuildingGPT obiektu JSON):
            <ul class="empty">
                <li>
                    - Wpisz 1, jeżeli w polu &lt;Opis mieszkania&gt; napisano, że mieszkanie jest oficynie kamienicy
                </li>
                <li>
                    - Wpisz 1, jeżeli w polu &lt;Opis mieszkania&gt; napisano, że mieszkanie jest w drugiej linii
                    zabudowy,
                    - a rok budowy jest mniejszy niż 1960.
                </li>
                <li>
                    - Wpisz 0, jeżeli rok budowy jest większy niż 1960, a mieszkanie nie jest kamienicą
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę dotyczącą Oficyny przypisz do klucza outbuildingGPT obiektu JSON.</p>
        </li>

        <li>11. Dla oceny dotyczącej czynszu (klucz rentGPT):
            <ul class="empty">
                <li>
                    - Wpisz wartość czynszu, jeżeli jest w polu &lt;Czynsz&gt;. Jeżeli nie ma to wpisz informację
                    podaną w polu &lt;Opis mieszkania&gt;
                </li>
                <li>
                    - Jeżeli w polu &lt;Opis mieszkania&gt; jest, że mieszkanie jest bezczynszowe wpisz 0.
                </li>
                <li>
                    - Jeżeli w tekście nie ma informacji o czynszu wpisz null.
                </li>
                <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
            </ul>
            <p>Ocenę dotyczącą Czynszu przypisz do klucza rentGPT obiektu JSON.</p>
        </li>



        {{!-- "flatId", "technologyGPT", "lawStatusGPT",  "balconyGPT", "elevatorGPT", "basementGPT", "garageGPT", "gardenGPT",
        "modernizationGPT", "alarmGPT", "kitchenGPT", "outbuildingGPT", "qualityGPT", "rentGPT", "commentsGPT" --}}

        {{!-- technologia budowy --}}
        {{#unless flat_ans_data.technologyAns}}

            <li>
                12.  Dla oceny technologii budowy (klucz technologyGPT obiektu JSON):


                <ul class="empty">
                    <li>- Wpisz 1, jeśli rok budowy jest mniejszy niż 1970, a materiał to cegła.</li>
                    <li>- Wpisz 2, jeśli rok budowy jest większy niż 1990, a materiał to bloczki, silka lub cegła.</li>
                    <li>- Wpisz 7, jeśli rok budowy jest większy od 1960 i mniejszy od 1992, a w polu &lt;Materiał&gt;
                        wpisano
                        wielka płyta, beton, inny lub mieszany.
                    </li>
                    <li>
                        - Wpisz 3, gdy rok budowy jest większy niż 2000, a liczba kondygnacji jest większa niż 13. Podczas
                        analizy weź pod uwagę pola z tekstu jak &lt;Rok budowy&gt;, &lt;Materiał&gt;
                        i &lt;Opis mieszkania&gt;.
                    </li>
                    <li>
                        - Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.
                    </li>
                    <p>Ocenę technologii przypisz do klucza technologyGPT obiektu JSON.</p>
                </ul>
            </li>
        {{/unless}}
        {{!-- modernizacja --}}
        {{#if (equals flat_ans_data.modernizationAns 0)}}

        {{else}}
            {{#unless flat_ans_data.modernizationAns}}
                <li>
                    13. Dla oceny modernizacji (klucz modernizationGPT obiektu JSON):
                    <ul class="empty">
                        <li>- Wpisz 4, jeśli rok budynku, bloku lub kamienicy jest mniejszy niż 1995 i w &lt;Opis mieszkania&gt;
                            jest wskazane, że budynek, blok lub kamienica jest ocieplony, odrestaurowany lub odnowiony.
                            Jeżeli to możliwe rok budowy weź z pola &lt;Rok budowy&gt;,
                        </li>
                        <li>- Wpisz 4, jeśli rok budowy budynku, bloku lub kamienicy jest mniejszy niż 1995, a w &lt;Opis
                            mieszkania&gt; napisano,
                            że budynek/kamienica/blok posiada nową elewację. Rok budowy weź z pola &lt;Rok budowy&gt;,
                            jeżeli to
                            możliwe.
                        </li>
                        <li>- Wpisz 0, jeśli rok budynku jest większy niż 1995, technologia budowy to 2.</li>
                        <li>- Wpisz 5, jeśli w opisie mieszkania jest napisane, że budynek, blok lub kamienica są w trakcie
                            renowacji lub odnowienia lub gdy renowacja lub odnowienie są planowane.
                        </li>
                        <li>- Podczas analizy weź pod uwagę &lt;Rok budowy&gt;, &lt;Materiał&gt; i &lt;Opis mieszkania&gt;.
                        </li>
                        <li>- Jeżeli w tekście nie ma informacji wpisz null.</li>
                        <li>- Jeżeli nie jesteś pewny odpowiedzi wpisz: -9.</li>
                        <p>Ocenę modernizacji przypisz do klucza modernizationGPT obiektu JSON.</p>
                    </ul>
                </li>
            {{/unless}}
        {{/if}}

        {{!-- standard nieruchmości --}}

        {{!-- if reated earlier --}}
        {{#if flat_ans_data.technologyAns}}
            <li>12. Do klucza technologyGPT obiektu JSON przypisz wartość {{flat_ans_data.technologyAns}}.</li>
        {{/if}}
        {{#if (equals flat_ans_data.modernizationAns 0) }}
            <li>13. Do klucza modernizationGPT obiektu JSON przypisz wartość {{flat_ans_data.modernizationAns}}.</li>
        {{else if flat_ans_data.modernizationAns}}
            <li>13. Do klucza modernizationGPT obiektu JSON przypisz wartość {{flat_ans_data.modernizationAns}}.</li>
        {{/if}}

        {{#if flat_ans_data.kitchenAns}}
            <li>15. Do klucza kitchenGPT obiektu JSON przypisz wartość {{flat_ans_data.kitchenAns}}.</li>
        {{/if}}
        <li>
            16. Do klucza qualityGPT obiektu JSON przypisz wartość
            {{#unless flat_ans_data.qualityAns}}
                null
            {{else}}
                {{flat_ans_data.qualityAns}}.
            {{/unless}}
        </li>
        <p></p>

        {{!-- komentarz/uzasadnienie --}}
        <li>18. W kluczu commentGPT:
            <ul class="empty">
                <li>- Przypisz do kluczy informacje dlaczego nadałeś wartości poszczególnym kluczom.</li>
                <li>- Wykorzystaj taki format: klucz:uzasadnienie</li>
                <li>- Informacje przypisz do klucza commentGPT obiektu JSON.</p>
                </li>
            </ul>
        </li>

        <li>Wygeneruj tylko poprawny obiekt JSON.</li>

    </ol>

    {{!-- TEXT --}}
    <p>
        Tekst oferty nieruchomości do analizy:
        &lt;
        {{#if flat_data.material}}
            &lt;Materiał&gt;: {{flat_data.material}}<br/>
        {{/if}}

        {{#if flat_data.buildingType}}
            &lt;Rodzaj budynku&gt;: {{flat_data.buildingType}}<br/>
        {{/if}}

        {{#if flat_data.yearBuilt}}
            &lt;Rok budowy&gt; {{flat_data.yearBuilt}}<br/>
        {{/if}}

        {{#if flat_data.lawStatus}}
            &lt;Stan prawny&gt; {{flat_data.lawStatus}}<br/>
        {{/if}}

        {{#if flat_data.balcony}}
            &lt;Balkon&gt; {{flat_data.balcony}}<br/>
        {{/if}}
        {{#if flat_data.balconyQuantity}}
            &lt;Liczba balkonów&gt; {{flat_data.balconyQuantity}}<br/>
        {{/if}}
        {{#if flat_data.terracesQuantity}}
            &lt;Liczba tarasów&gt; {{flat_data.terracesQuantity}}<br/>
        {{/if}}
        {{#if flat_data.loggiasQuantity}}
            &lt;Liczba logii&gt; {{flat_data.loggiasQuantity}}<br/>
        {{/if}}
        {{#if flat_data.frenchBalconyQuantity}}
            &lt;Liczba balkonów francuskich&gt; {{flat_data.frenchBalconyQuantity}}<br/>
        {{/if}}

        {{#if flat_data.elevator}}
            &lt;Winda&gt; {{flat_data.elevator}}<br/>
        {{/if}}

        {{#if flat_data.floorsNumber}}
            &lt;Liczba kondygnacji&gt; {{flat_data.floorsNumber}}<br/>
        {{/if}}

        {{#if flat_data.basement}}
            &lt;Piwnica&gt; {{flat_data.basement}}<br/>
        {{/if}}

        {{#if flat_data.garage}}
            &lt;Garaż&gt; {{flat_data.garage}}<br/>
        {{/if}}

        {{#if flat_data.priceParkingUnderground}}
            &lt;Cena miejsca postojowego&gt; {{flat_data.priceParkingUnderground}}<br/>
        {{/if}}

        {{#if flat_data.priceParkingGround}}
            &lt;Cena miejsca garażowego&gt; {{flat_data.priceParkingGround}}<br/>
        {{/if}}

        {{#if flat_data.garden}}
            &lt;Ogród&gt; {{flat_data.garden}}<br/>
        {{/if}}

        {{#if flat_data.monitoring}}
            &lt;Monitoring&gt; {{flat_data.monitoring}}<br/>
        {{/if}}

        {{#if flat_data.security}}
            &lt;Ochrona&gt; {{flat_data.security}}<br/>
        {{/if}}

        {{#if flat_data.guardedArea}}
            &lt;Osiedle strzeżone&gt; {{flat_data.guardedArea}}<br/>
        {{/if}}

        {{#if flat_data.kitchenType}}
            &lt;Kuchnia&gt; {{flat_data.kitchenType}}<br/>
        {{/if}}

        {{#if flat_data.outbuilding}}
            &lt;Oficyna&gt; {{flat_data.outbuilding}}<br/>
        {{/if}}

        {{#if flat_data.rent}}
            &lt;Czynsz&gt; {{flat_data.rent}}<br/>
        {{/if}}

        &lt;Opis mieszkania&gt; {{flat_data.description}}

    </p>
</div>

<form action="{{add flat_data.number 1}}" method="post">

    <div class="d-flex justify-content-center align-items-center">

        <div class="input-group mb-3 {{#if flat_gpt_data}}w-75{{/if}}">
        <textarea name="gpt-json" rows="20" class="form-control" placeholder="Podaj obiekt JSON."
                  required></textarea>
        </div>
        <div class="mb-3 {{#if flat_gpt_data}}w-25{{/if}}" style="margin-left: 20px;">
            {{#if flat_gpt_data}}
                {
                "technologyGPT": {{flat_gpt_data.technologyGPT}},<br>
                "lawStatusGPT": {{flat_gpt_data.lawStatusGPT}},<br>
                "balconyGPT": {{flat_gpt_data.balconyGPT}},<br>
                "elevatorGPT": {{flat_gpt_data.elevatorGPT}},<br>
                "basementGPT": {{flat_gpt_data.basementGPT}},<br>
                "garageGPT": {{flat_gpt_data.garageGPT}},<br>
                "gardenGPT": {{flat_gpt_data.gardenGPT}},<br>
                "modernizationGPT": {{flat_gpt_data.modernizationGPT}},<br>
                "alarmGPT": {{flat_gpt_data.alarmGPT}},<br>
                "kitchenGPT": {{flat_gpt_data.kitchenGPT}},<br>
                "outbuildingGPT": {{flat_gpt_data.outbuildingGPT}},<br>
                "qualityGPT": {{flat_gpt_data.qualityGPT}},<br>
                "rentGPT": {{flat_gpt_data.rentGPT}},<br>
                "commentsGPT": {{flat_gpt_data.commentsGPT}}<br>
                }
            {{/if}}
        </div>

    </div>

    <div class="d-flex justify-content-center align-items-center">
        <button type="button" onclick="copyTextToClipboard()" class="btn btn-outline-success btn-break">
            Kopiuj tekst do schowka
        </button>
        <button type="submit" class="btn btn-success btn-break">Wyślij</button>
    </div>
</form>
<div id="navigation" class="d-flex justify-content-center align-items-center">
    <button type="button" onclick="goToPreviousOffer({{flat_data.number}})"
            class="btn btn-outline-secondary btn-break">
        <
    </button>
    <button type="button" onclick="goToNextOffer({{flat_data.number}})" class="btn btn-outline-secondary btn-break">
        >
    </button>
</div>


{{!--     market: 'market',
    offerId: 'offerId',
    offerIdExpected: 'offerIdExpected',
    offerType: 'offerType',
    offerStatus: 'offerStatus',
    dateAdded: 'dateAdded',
    dateUpdated: 'dateUpdated',
    dateEndTransaction: 'dateEndTransaction',
    localization: 'localization',
    street: 'street',
    lawStatus: 'lawStatus',
    price: 'price',
    priceOffer: 'priceOffer',
    rent: 'rent',
    priceM2: 'priceM2',
    livingArea: 'livingArea',
    material: 'material',
    buildingType: 'buildingType',
    yearBuilt: 'yearBuilt',
    floorsNumber: 'floorsNumber',
    buildingQuality: 'buildingQuality',
    flatQuality: 'flatQuality',
    floor: 'floor',
    balcony: 'balcony',
    balconyQuantity: 'balconyQuantity',
    terracesQuantity: 'terracesQuantity',
    loggiasQuantity: 'loggiasQuantity',
    frenchBalconyQuantity: 'frenchBalconyQuantity',
    roomsNumber: 'roomsNumber',
    kitchenType: 'kitchenType',
    basement: 'basement',
    storageRoom: 'storageRoom',
    attic: 'attic',
    parkingPlace: 'parkingPlace',
    garden: 'garden',
    elevator: 'elevator',
    security: 'security',
    monitoring: 'monitoring',
    guardedArea: 'guardedArea',
    securityControl: 'securityControl',
    description: 'description', --}}



<script src="/assets/js/copy-template.js"></script>
<script src="/assets/js/navigation.js"></script>