<h4 class="h4-break">Czynsz</h4>
<p><strong>Czynsz administracyjny:</strong> {{ flat_data.rent }}</p>

{{#if flat_data.rentLemma}}
    <p style="font-style: italic;">Fragmenty: {{flat_data.rentLemma}}</p>
{{/if}}

<div class="question">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">PLN</span>
        </div>
        <p>
            <input type="number" name="rent" class="form-control" style="width: 200%; display: inline-block;"
                   placeholder="Wpisz wartość czynszu (opcjonalne)"
                {{#if flat_ans_data.rentAns}}
                   value="{{flat_ans_data.rentAns}}"
                {{else}}
                    {{#if flat_data.rent}}
                   value="{{flat_data.rent}}"
                    {{else}}
                   value="-9"
                    {{/if}}{{/if}}>
        </p>
    </div>
    {{#if (convertToStr flats_gpt_data.rentRating)}}
        <p class="p-break">
            <a style="text-decoration: none;" role="button">
                <span class="gpt ai-rent-rate"
                      onclick="writeAIRateToRentInput({{flats_gpt_data.rentRating}})">Ocena GPT: {{flats_gpt_data.rentRating}}</span>
            </a>

            <br/>
            <span class="gpt ai-rent-summary">Podsumowanie modelu GPT: {{flats_gpt_data.rentSummary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
