<h4 class="h4-break">Czynsz</h4>
<p><strong>Czynsz administracyjny:</strong> {{ flat_data.rent }}</p>

{{#if flat_data.rentLemma}}
    <p style="font-style: italic;">Fragmenty: {{flat_data.rentLemma}}</p>
{{/if}}

<div class="question">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">PLN</span>
        </div>
        <input type="number" name="rent" class="form-control" placeholder="Wpisz wartość czynszu (opcjonalne)"
               {{#if flat_ans_data.rentAns}}value="{{flat_ans_data.rentAns}}"{{/if}}>
    </div>
    {{#if (convertToStr flats_gpt_data.rentGPT)}}
        <p class="p-break">
            <a style="text-decoration: none;" role="button">
                <span class="gpt ai-rent-rate" onclick="replaceOneWithAIAnswer('rent')">Ocena GPT: {{flats_gpt_data.rentGPT}}</span>
            </a>

            <br />
            <span class="gpt ai-rent-summary">Podsumowanie modelu GPT: {{flats_gpt_data.rentSummary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
