<h4 class="h4-break">Czynsz</h4>
<p><strong>Czynsz administracyjny:</strong> {{ flat_data.rent }}</p>

<p>czynsz: {{flat_data.rentDesc}}</p>
<p>bezczynsz:{{flat_data.withoutRentDesc}}</p>
<p>opłat: {{flat_data.feesDesc}}</p>

<div class="question">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">PLN</span>
        </div>
        <input type="number" name="rent" class="form-control" placeholder="Wpisz wartość czynszu (opcjonalne)" {{#if flat_ans_data.rentAns}}value="{{flat_ans_data.rentAns}}"{{/if}}>
    </div>
    {{#if (convertToStr flat_gpt_data.rentGPT)}}
        <p class="p-break">
            <span class="gpt">GPT: {{flat_gpt_data.rentGPT}}</span>
            <span class="gpt">GPT: {{flat_gpt_data.rent_summary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
