<h4 class="h4-break">Piwnica</h4>
{{#if flat_data.basement}}
    <p><strong>Piwnica:</strong> {{flat_data.basement}}</p>
{{/if}}

{{#if flat_data.storageRoom}}
    <p><strong>Komórka:</strong> {{flat_data.storageRoom}}</p>
{{/if}}

{{#if flat_data.attic}}
    <p><strong>Strych:</strong> {{flat_data.attic}}</p>
{{/if}}

{{#if flat_data.basementLemma}}
    <p style="font-style: italic;">Fragmenty: {{flat_data.basementLemma}}</p>
{{/if}}


<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="basement_yes" name="basement" value="1" {{#if (equals flat_ans_data.basementAns 1)}}checked{{/if}}  required>
        <label class="form-check-label" for="basement_yes">Tak</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="basement_no" name="basement" value="0" {{#if (equals flat_ans_data.basementAns 0)}}checked{{/if}}>
        <label class="form-check-label" for="basement_no">Nie</label>
    </div>
    {{#if (convertToStr flats_gpt_data.basementGPT)}}
        <p class="p-break">
            <a style="text-decoration: none;" role="button">
                <span class="gpt ai-basement-rate" onclick="replaceOneWithAIAnswer('basement')">Ocena GPT: {{flats_gpt_data.basementGPT}}</span>
            </a>
            <br />
            <span class="gpt ai-basement-summary">Podsumowanie modelu GPT: {{flats_gpt_data.basementSummary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
