<h4 class="h4-break">Oficyna</h4>

{{#if flat_data.outbuildingDesc}}
    <p>oficyn: {{ flat_data.outbuildingDesc }}</p>
{{/if}}

{{#if flat_data.outbuildingDesc2}}
    <p>linia: {{ flat_data.outbuildingDesc2 }}</p>
{{/if}}

{{#if flat_data.outbuildingDesc3}}
    <p>linii: {{ flat_data.outbuildingDesc3 }}</p>
{{/if}}

<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="outbuilding_yes" name="outbuilding" value="1" {{#if (equals flat_ans_data.outbuildingAns 1)}}checked{{/if}} required>
        <label class="form-check-label" for="outbuilding_yes">Tak</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="outbuilding_no" name="outbuilding" value="0" {{#if (equals flat_ans_data.outbuildingAns 0)}}checked{{/if}}>
        <label class="form-check-label" for="outbuilding_no">Nie</label>
    </div>
    {{#if (convertToStr flat_gpt_data.outbuildingGPT)}}
        <p class="p-break">
            <span class="gpt">GPT: {{flat_gpt_data.outbuildingGPT}}</span>
            <span class="gpt">GPT: {{flat_gpt_data.outbuilding_summary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
