<h4 class="h4-break">Infrastruktura alarmowa</h4>
{{#if flat_data.monitoring}}
    <p><strong>Monitoring:</strong> {{ flat_data.monitoring }}</p>
{{/if}}

{{#if flat_data.guardedEstate}}
    <p><strong>Osiedle strzeżone:</strong> {{ flat_data.guardedEstate }}</p>
{{/if}}

{{#if flat_data.monitoringLemma}}
    <p>Fragmenty: {{ flat_data.monitoringLemma }}</p>
{{/if}}

<div class="question">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="alarm_yes" name="alarm" value="1" {{#if (equals flat_ans_data.alarmAns 1)}}checked{{/if}} required>
        <label class="form-check-label" for="alarm_yes">Tak</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="alarm_no" name="alarm" value="0" {{#if (equals flat_ans_data.alarmAns 0)}}checked{{/if}}>
        <label class="form-check-label" for="alarm_no">Nie</label>
    </div>
    {{#if (convertToStr flats_gpt_data.alarmGPT)}}
        <p class="p-break">
            <span class="gpt ai-alarm-rate">Ocena GPT: {{flats_gpt_data.alarmGPT}}</span>
            <br />
            <span class="gpt ai-alarm-summary">Podsumowanie modelu GPT: {{flats_gpt_data.alarmSummary}}</span>
        </p>
    {{/if}}
</div>
<hr class="mt-0 mb-4">
